<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ts="http://typo3.org/ns/TYPO3/TypoScript/ViewHelpers"
      xmlns:whnews="http://Weissheiten/News/ViewHelpers">

<f:section name="eventList">
    <whnews:widget.eventCalendar as="filteredCalendarEntries" calendarEntries="{calendarEntries}">
        <div class="row">
            <div class="newsLatestEntryContainer">
                <f:for each="{filteredCalendarEntries}" as="calendarEntry">
                        <ts:render path="itemRenderer" context="{node: calendarEntry}" />
                </f:for>
            </div>
        </div>
    </whnews:widget.eventCalendar>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".TileBoxRight, .TileBoxLeftText").dotdotdot({
                ellipsis: ' [...]',
                wrap: 'word',
                after: null,
                watch: 'window'
            });
        });
    </script>

</f:section>

</html>