<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:ts="http://typo3.org/ns/Neos/Fusion/ViewHelpers"
      xmlns:typo3cr="http://typo3.org/ns/TYPO3/TYPO3CR/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/Neos/Neos/ViewHelpers">

<f:section name="newsLatest">
    <f:if condition="{newsCollection}">
        <!-- condition for pagination - this is not needed if changes in Configuration/Settings.yaml and this template are made
             accordingly - this template is set for both cases -->
        <f:if condition="{configuration.pagination}">
            <!-- Pagination is set for this list -->
            <f:then>
                <typo3cr:widget.paginate nodes="{newsCollection}" as="paginatedNewsItems" widgetId="{node.name}" configuration="{configuration.pagination}">
                    <div>
                        <f:for each="{paginatedNewsItems}" as="news">
                            <ts:render path="itemRenderer" context="{node: news}" />
                        </f:for>
                    </div>
                </typo3cr:widget.paginate>
            </f:then>
            <!-- Pagination is not set for this list -->
            <f:else>
                    <div class="col-xs-12 col-md-4">
                        <div class="row">
                            <div class="newsLatestEntryContainer">
                                <f:for each="{newsCollection}" as="newsItem" iteration="iteration">
                                    <neos:link.node node="{newsItem}">
                                        <ts:render path="itemRenderer" context="{node: newsItem}" />
                                    </neos:link.node>
                                </f:for>

                                <div class="col-xs-12">
                                    <neos:link.node class="LinkButton" node="{related}" title="mehr News">
                                        <f:if condition="{linktext}"><f:then>{linktext}</f:then><f:else>Alle</f:else></f:if>
                                    </neos:link.node>
                                </div>
                            </div>
                        </div>
                    </div>


                <script type="text/javascript">
                    $(document).ready(function(){
                        $(".TileBoxRight, .TileBoxLeftText").dotdotdot({
                            ellipsis: ' [...]',
                            wrap: 'word',
                            after: null,
                            watch: 'window'
                        });
                    });
                </script>
            </f:else>
        </f:if>
    </f:if>
</f:section>

</html>