<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/Neos/Neos/ViewHelpers">

<f:section name="newsShortMainInfo">
    <div class="TileBoxTextContent">
        <h3>
            <f:for each="{categories}" as="category">
                {category.properties.title}
            </f:for><!-- <f:format.date date="{creationDate}" format="d.m.Y" /> --></h3>
        <h2><neos:contentElement.editable property="title" /></h2>
    </div>
</f:section>

</html>